/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*{
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body, html {
    height: 100%;
}
/* end of reset */
/* font styles */
h1{
    font-family: 'Carter One', cursive;
    font-size: 4rem;
}
h2{
    font-family: 'Carter One', cursive;
    font-size: 3rem;
}
h3{
    font-family: 'Carter One', cursive;
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: tomato;  
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}
/* end of font styles */
/* header styles */
.container {
    position: absolute;
    width: 100%;
    display:flex;
    justify-content: space-between;
    background-color: black;
    opacity: 0.8;
  }
  .topnav {
    overflow: hidden;
  }
  .topnav a {
    font-family: 'Montserrat', sans-serif;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: tomato;
    color: black;
    opacity: 0.8;

  }
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1476480862126-209bfaa8edc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  padding-bottom: 5%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-image h3{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.button{
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;  
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 4px;
    background-color: tomato;
    opacity: 0.8;
    line-height: 2.5;  
}
.button:hover{
  background-color: black;
  color: white;
}
.hero-text .button{
    padding:2%;
}
/* end of header styles */
/* middle content styles */
.middleText{
    margin:auto;
    width:80%;
    padding: 2%;
    text-align: center;
    color:tomato;
    background-color: black;
    opacity: 0.8;
}
.middleContent{
    text-align: center;
    width:80%;
    margin:auto;
    padding: 2%;
    background-color: black;
    opacity: 0.8;
    display:flex;
    justify-content: space-around;
    border-bottom: tomato;
}
.middleContent img{
    margin: 2%;
    width:50%;
    border-radius: 25%;
}
.middleContent h4{
    margin: 3%;
}
.middleContent2{
    width:80%;
    margin:auto;
    text-align: center;
    background-color: black;
    opacity: 0.8;
    border-top: 4px dotted tomato;
    padding: 2%;
}
.middleContent2 h3{
    margin: 2%;
    color: tomato;
    padding-top: 2%;
}
.middleContent2 p{
    width:70%;
    margin: auto;
    color: white;
    padding:2%;
}
.middleContent2 .button{
    line-height: 2.5;
    padding: 1%
}
.middleContent3{
    width:80%;
    margin:auto;
    text-align: center;
    background-color: black;
    opacity: 0.8;
    border-top: 4px dotted tomato;
    padding:2%;
}
.middleContent3 h3{
    margin: 2%;
    color: tomato;
    padding-top: 2%;
}
.middleContent3 p{
    width:70%;
    margin: auto;
    color: white;
    padding:2%;
}
.middleContent3 .button{
    line-height: 2.5;
    padding:1%;
}
/* end of middle content styles */
/* footer styles */
footer{
    height: 15vh;
    background-color: tomato;
    opacity: 0.8;
    text-align: center;
}
footer p{
    padding-top: 1%;
    font-size: 1.6rem;
    margin: auto;
    text-decoration: none;
    color: black; 
}
footer img{
    margin: 1%;
    width: 4%;
    font-weight: bold;
}
/* end of footer styles */
/* end of Homepage Styles */
/* Aboutpage Styles */
.container2 {
    position: absolute;
    width: 100%;
    display:flex;
    justify-content: space-between;
    background-color: tomato;
    opacity: 0.8;
  }
  .topnav2 {
    overflow: hidden;
  }
  .topnav2 a {
    font-family: 'Montserrat', sans-serif;
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav2 a:hover {
    background-color: black;
    color: white;
    opacity: 0.8;
  }
.section1{
    width:80%;
    margin:auto;
    text-align: center;
    opacity: 0.8;
    padding-top:5%;
    border-bottom: 4px dotted tomato;
}
.section1 h2{
    color: tomato;
}
.section1 p{
    width: 70%;
    margin:auto;
    color:white;
    padding: 2%; 
}
#team{
    width:100%;
    margin: auto;
    text-align: center;
    padding: 2%;
}
#team h2{
    color: tomato;
}
#team img{
    width:20%;
}
.smallerImgs{
    display:flex;
    /* flex-wrap: wrap; */
}
.smallerImgs img{
    padding: 2%;
}
